<h2>Neccessary Imports</h2>

In [1]:
# Necessary imports
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Loading Dataset into DataFrame</h2>

In [2]:
# Making use of pandas library to read the csv file. 
linear_regression_dataframe = pd.read_csv("Student_Performance.csv", delimiter=',')

<h2>Investigating Data within Data Frame</h2>

In [3]:
# Printing the first five rows of the dataset. 
linear_regression_dataframe.head()

   Hours Studied  ...  Performance Index
0              7  ...               91.0
1              4  ...               65.0
2              8  ...               45.0
3              5  ...               36.0
4              7  ...               66.0

[5 rows x 6 columns]

In [4]:
# Printing the last five rows of the dataset. 
linear_regression_dataframe.tail()

      Hours Studied  ...  Performance Index
9995              1  ...               23.0
9996              7  ...               58.0
9997              6  ...               74.0
9998              9  ...               95.0
9999              7  ...               64.0

[5 rows x 6 columns]

In [5]:
# Checking the total nulls within each column of the data frame. 
linear_regression_dataframe.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [10]:
print(linear_regression_dataframe.count())

Hours Studied                       10000
Previous Scores                     10000
Extracurricular Activities          10000
Sleep Hours                         10000
Sample Question Papers Practiced    10000
Performance Index                   10000
dtype: int64

In [12]:
linear_regression_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB